<ion-content>
  <div class="background-wrapper" style="background-image: url('assets/pagina.png');">
    <div class="overlay">
      
      <div class="login-card" *ngIf="passoLogin === 'login'">
        <h1>ENTRAR</h1>

        <div class="google-auth-container">
          <button class="google-btn" (click)="loginComGoogle()">
            <img src="assets/icon-google.png" alt="Google Icon">
            Continue with Google
          </button>
        </div>

        <div class="form-container">
          <ion-item lines="none" class="custom-input">
            <ion-label position="stacked">E-mail</ion-label>
            <input type="email" [(ngModel)]="usuario.email" style="width: 100%; border: none; background: transparent; outline: none;" />
          </ion-item>

          <ion-item lines="none" class="custom-input">
            <ion-label position="stacked">Senha</ion-label>
            <input type="password" [(ngModel)]="usuario.senha" style="width: 100%; border: none; background: transparent; outline: none;" />
          </ion-item>
        </div>

        <ion-button expand="block" (click)="realizarLogin()" class="btn-entrar">
          Entrar
        </ion-button>

        <div class="links-footer">
          <p class="link-acao" routerLink="/cadastro">Cadastre-se</p>
          <p class="link-esqueceu" (click)="passoLogin = 'verificarEmail'">Esqueceu a senha?</p>
        </div>
      </div>

      <div class="login-card" *ngIf="passoLogin === 'verificarEmail'">
        <h1>RECUPERAR</h1>
        <p class="txt-ajuda">Digite o e-mail cadastrado na sua conta para enviarmos o link de recuperação de senha.</p>

        <div class="form-container">
          <ion-item lines="none" class="custom-input">
            <ion-label position="stacked">E-mail Cadastrado</ion-label>
            <input type="email" [(ngModel)]="emailRecuperacao" style="width: 100%; border: none; background: transparent; outline: none;" />
          </ion-item>
        </div>

        <ion-button expand="block" (click)="verificarEmailCadastrado()" class="btn-entrar">
          Enviar Link de Recuperação
        </ion-button>

        <div class="links-footer">
          <p class="link-esqueceu" (click)="passoLogin = 'login'">Voltar para o Login</p>
        </div>
      </div>

    </div>
  </div>
</ion-content>