<ion-content>
  <div class="background-wrapper">
    <div class="overlay">
      
      <div class="login-card" *ngIf="passoLogin === 'login'">
        <h1>ENTRAR</h1>

        <div class="google-auth-container">
          <button class="google-btn" (click)="loginComGoogle()">
            <img src="assets/icon-google.png" alt="Google Icon">
            Continue with Google
          </button>
        </div>

        <div class="form-container">
          <ion-item lines="none" class="custom-input">
            <ion-label position="stacked">E-mail</ion-label>
            <ion-input type="email" [(ngModel)]="usuario.email"></ion-input>
          </ion-item>

          <ion-item lines="none" class="custom-input">
            <ion-label position="stacked">Senha</ion-label>
            <ion-input type="password" [(ngModel)]="usuario.senha"></ion-input>
          </ion-item>
        </div>

        <ion-button expand="block" (click)="realizarLogin()" class="btn-entrar">
          Entrar
        </ion-button>

        <div class="links-footer">
          <p class="link-acao" routerLink="/cadastro">Cadastre-se</p>
          <p class="link-esqueceu" (click)="passoLogin = 'verificarEmail'">Esqueceu a senha?</p>
        </div>
      </div>

      <div class="login-card" *ngIf="passoLogin === 'verificarEmail'">
        <h1>RECUPERAR</h1>
        <p class="txt-ajuda">Digite o e-mail cadastrado na sua conta para prosseguir.</p>

        <div class="form-container">
          <ion-item lines="none" class="custom-input">
            <ion-label position="stacked">E-mail Cadastrado</ion-label>
            <ion-input type="email" [(ngModel)]="emailRecuperacao"></ion-input>
          </ion-item>
        </div>

        <ion-button expand="block" (click)="verificarEmailCadastrado()" class="btn-entrar">
          Verificar E-mail
        </ion-button>

        <div class="links-footer">
          <p class="link-esqueceu" (click)="passoLogin = 'login'">Voltar para o Login</p>
        </div>
      </div>

      <div class="login-card" *ngIf="passoLogin === 'novaSenha'">
        <h1>NOVA SENHA</h1>
        <p class="txt-ajuda">Defina a sua nova senha de acesso.</p>

        <div class="form-container">
          <ion-item lines="none" class="custom-input">
            <ion-label position="stacked">Nova Senha</ion-label>
            <ion-input type="password" [(ngModel)]="novaSenha"></ion-input>
          </ion-item>

          <ion-item lines="none" class="custom-input">
            <ion-label position="stacked">Confirmar Nova Senha</ion-label>
            <ion-input type="password" [(ngModel)]="confirmarNovaSenha"></ion-input>
          </ion-item>
        </div>

        <ion-button expand="block" (click)="salvarNovaSenha()" class="btn-entrar">
          Confirmar
        </ion-button>

        <div class="links-footer">
          <p class="link-esqueceu" (click)="passoLogin = 'login'">Cancelar</p>
        </div>
      </div>

    </div>
  </div>
</ion-content>