<ion-header class="ion-no-border">
  <div class="header-purple">
    <ion-item lines="none" class="user-info">
      <ion-avatar slot="start">
        <img [src]="fotoUsuario" alt="Foto de perfil" />
      </ion-avatar>

      <ion-label>
        <p class="texto-boas-vindas">Bem vindo(a)</p>
        <h1>{{ nomeUsuario }}</h1>
      </ion-label>
      <ion-icon 
  name="settings-outline" 
  slot="end" 
  color="light" 
  routerLink="/configuracoes">
</ion-icon>
    </ion-item>
    
    <div class="saldo-container">
      <p>Saldo geral</p>
      <div class="saldo-row">
        <span>********</span>
        <ion-icon name="eye-off-outline"></ion-icon>
      </div>
    </div>
  </div>
</ion-header>

<ion-content>
  <div class="date-selector">
    <div class="date-header">
      <ion-icon name="chevron-back-outline" (click)="mudarMes(-1)"></ion-icon>
      <span class="mes-titulo">{{ textoMesAno }}</span>
      <ion-icon name="chevron-forward-outline" (click)="mudarMes(1)"></ion-icon>
    </div>

    <div class="date-details">
      <div class="detail-item">De {{ dataInicioMes }}</div>
      <div class="detail-item">Até {{ dataFimMes }}</div>
      <div class="detail-item status-mes">{{ statusMesTexto }}</div>
    </div>
  </div>

  <div class="section-title">
    <h2>Entradas</h2>
    <ion-fab-button size="small" class="btn-adicionar" (click)="abrirModal(true)">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </div>

  <ion-card class="total-card">
    <ion-item lines="none">
      <ion-icon name="wallet-outline" slot="start" class="wallet-icon"></ion-icon>
      <ion-label>
        <p>Total de Entradas</p>
        <h3>{{ totalEntradas | currency:'BRL' }}</h3>
      </ion-label>
    </ion-item>
  </ion-card>

  <div class="list-container">
    <ion-card *ngFor="let entrada of entradasFiltradas" class="item-card-entrada">
      <ion-card-content>
        <div class="card-entrada-row">
          <div class="info-entrada">
            <span class="titulo">{{ entrada.titulo }}</span>
            <p class="categoria">{{ entrada.categoria }}</p>
          </div>
          <div class="valor-e-acao">
            <span class="valor">{{ entrada.valor | currency:'BRL' }}</span>
            <ion-icon name="trash-outline" class="btn-excluir" (click)="excluirEntrada(entrada.id)"></ion-icon>
          </div>
        </div>
      </ion-card-content>
    </ion-card>

    <p class="empty-msg" *ngIf="entradasFiltradas.length === 0">Nenhuma entrada encontrada.</p>
  </div>

 <ion-modal [isOpen]="isModalAberto" (didDismiss)="abrirModal(false)" class="modal-customizado">
  <ng-template>
    <div class="modal-wrapper">
      
      <div class="modal-header">
        <span class="espacador-esquerda"></span> <h2>Nova Entrada</h2>
        <button class="btn-fechar" (click)="abrirModal(false)">X</button>
      </div>

      <div class="modal-body">
        
        <div class="input-group">
          <label>Nome</label>
          <input type="text" placeholder="Ex: Aluguel" [(ngModel)]="novaEntrada.titulo">
        </div>

        <div class="input-group">
          <label>Valor</label>
          <input type="number" placeholder="0.00" [(ngModel)]="novaEntrada.valor">
        </div>

        <div class="input-group">
          <label>Tipo</label>
          <div class="select-container">
            <select [(ngModel)]="novaEntrada.categoria">
              <option value="Salário" selected>Salário</option>
              <option value="Freela">Freela</option>
              <option value="Outros">Outros</option>
            </select>
          </div>
        </div>

        <button class="btn-adicionar-gasto" (click)="adicionarEntrada()">Adicionar</button>
        
      </div>
    </div>
  </ng-template>
</ion-modal>
</ion-content>

<ion-footer class="ion-no-border">
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="casa" routerLink="/casa">
      <ion-icon name="home-outline"></ion-icon>
      <ion-label>Home</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="entradas" routerLink="/entradas">
      <ion-icon name="wallet-outline"></ion-icon>
      <ion-label>Entradas</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="grafico" routerLink="/grafico">
      <ion-icon name="trending-up-outline"></ion-icon>
      <ion-label>Gráfico</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="desejos" routerLink="/desejos">
      <ion-icon name="heart-outline"></ion-icon>
      <ion-label>Desejos</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-footer>