<ion-content>
  <div class="background-image">
    <div class="overlay">
      
      <div class="cadastro-container">
        <h1>CADASTRO</h1>

        <div class="input-group">
          <ion-item lines="none">
            <ion-label position="stacked">Nome</ion-label>
            <ion-input type="text" [(ngModel)]="usuario.nome"></ion-input>
          </ion-item>

          <ion-item lines="none">
            <ion-label position="stacked">E-mail</ion-label>
            <ion-input type="email" [(ngModel)]="usuario.email"></ion-input>
          </ion-item>

          <ion-item lines="none">
            <ion-label position="stacked">Senha</ion-label>
            <ion-input type="password" [(ngModel)]="usuario.senha"></ion-input>
          </ion-item>

          <ion-item lines="none">
            <ion-label position="stacked">Confirmar senha</ion-label>
            <ion-input type="password" [(ngModel)]="confirmarSenha"></ion-input>
          </ion-item>
        </div>

        <ion-button expand="block" (click)="realizarCadastro()" class="btn-cadastrar">
          Cadastre-se
        </ion-button>

        <div class="links-footer">
          <p class="link-voltar" routerLink="/login">Já tem uma conta? Entrar</p>
        </div>
      </div>

    </div>
  </div>
</ion-content>