<ion-content [fullscreen]="true">
  <div class="welcome-container">
    <div class="header-section">
      <!-- Referência ao logo em dr.PNG -->
      <img src="assets/Logo for Finance App 'DreamFinance'.png" alt="DreamFinance Logo" class="logo">
      
    </div>

    <div class="footer-section">
      <h2>Transforme seus planos em realidade, centavo por centavo</h2>
      
      <div class="button-group">
        <ion-button expand="block" class="btn-purple" shape="round">
          Cadastre-se
        </ion-button>
        
        <ion-button expand="block" fill="solid" class="btn-gray" shape="round">
          Entrar
        </ion-button>
      </div>
    </div>
  </div>
</ion-content>