
:root {
  --ion-color-primary: #4a148c; /* Roxo escuro do dr.PNG */
  --ion-color-secondary: #B04CDE; /* Roxo vibrante dos botões */
  --ion-background-color: #F9F3FB; /* Fundo claro */
}
.welcome-container {
  display: flex;
  flex-direction: column;
  height: 100%;
  background-color: #F9F3FB; // Cor de fundo da parte clara

  
  

  .footer-section {
    flex: 1;
    padding: 40px 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    h2 {
      font-size: 1.6rem;
      font-weight: 800;
      color: #000;
      text-align: left; // Alinhamento conforme a imagem dr_2
      line-height: 1.5;
      margin: 0;
    }

    .button-group {
      ion-button {
        height: 45px;
        margin-bottom: 15px;
        font-weight: bold;
        text-transform: none;

        &.btn-purple {
          --background: #B04CDE; // Roxo do botão
          --color: white;
        }

        &.btn-gray {
          --background: #BD8FEB; // Cinza do botão entrar
          --color: #080808;
          margin-bottom: 0;
        }
      }
    }
  }
}